* {
  text-decoration: none;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", sans-serif;
}

/*main page*/
.main-header {
  padding: 10px;
  margin: 0;
  align-items: baseline;
  color: white;
  background: black;
  font-weight: normal;
  text-align: center;
}

#introduction {
  background-image: url(../images/background/dark-view.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-left: 5px;
}

#introduction #myself-picture-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.box {
  width: 250px;
  height: 440px;
  background: #302f2f;
  padding: 40px;
  text-align: center;
  margin: auto;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}

.box img {
  border-style: solid;
  border-radius: 50%;
  border-color: white;
  width: 200px;
  height: 210px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.divider {
  border: 3px solid white;
}

#fun-facts {
  background-image: url(../images/background/starry-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
}

#fun-facts-info {
  padding: 10px 0px 10px 0px;
}

.block {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #302f2f;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
}

.block h2,
.block h4,
.block li,
.block dt,
.block dd,
.block video,
.block p {
  margin-left: 10px;
}

.block h2 {
  padding-top: 10px;
  font-size: 26px;
  text-align: center;
}

.block h4,
.block li,
.block dt,
.block dd,
.block p {
  font-size: 14px;
}

.block video {
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#cat-break {
  background-color: black;
  font-size: 20px;
  color: white;
}

#cat-break #cat-container {
  margin-left: 5px;
  padding-top: 10px;
}

#cat-container {
  text-align: center;
  background: black;
}

#cat-container video,
#cat-container iframe {
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  display: block;
  margin: auto;
}

#cat-container video {
  width: 260px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 10px;
}

#bottom-nav {
  background: black;
  color: white;
  overflow: hidden;
}

#bottom-nav h3 {
  padding-left: 10px;
  padding-top: 10px;
}

#bottom-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  font-size: 17px;
}

#bottom-nav a:link,
#bottom-nav a:visited {
  text-decoration: underline;
  color: white;
}

#bottom-nav a:hover {
  color: #d3d3d3;
}

.nav-bar {
  background-color: #333;
  color: white;
  text-align: center;
}

.nav-bar .centered {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
}

.nav-bar ul li {
  display: inline;
  margin-right: 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  color: #f2f2f2;
}

.list-intro,
#fav-games {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.side-borders {
  border-left-style: solid;
  border-right-style: solid;
  border-left-width: 60px;
  border-right-width: 60px;
  border-left-color: #757474;
  border-right-color: #757474;
}

#fav-games h2 {
  padding-top: 5px;
}

#fav-games .list-item .list-title {
  color: white;
  background-color: #dc340c;
  width: 100%;
  font-size: 16px;
  width: 99.5%;
  padding-left: 10px;
  margin-bottom: 15px;
  box-shadow: 6px 6px 2px 1px black;
  text-shadow: 1px 3px 2px black;
}

#fav-games .game-image {
  border-style: solid;
  border-radius: 2px;
  border-color: #302f2f;
  border-width: 5px;
}
